<div class="maincard">
<mat-card>
    <mat-card-header>
        <mat-card-title> <div class="banner"><img src="assets/images/AnimalCrossingBanner.jpg"></div></mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p><label for="name">Name: {{bug.name}}</label></p>
        <p><label for="location">Location: {{bug.location}}</label></p>
        <p><label for="time">Time: {{bug.time}}</label></p>
        <p><label for="monthn">Months North: {{bug.month.north}}</label></p>
        <p><label for="months">Months South: {{bug.month.south}}</label></p> 
        <p><label for="caught">Caught: 
            <div *ngIf="bug.caught === true">
                <mat-checkbox [checked]="true"></mat-checkbox>
                <b>Health is checked.</b>
             </div>   
             <div *ngIf="bug.caught === false">
              <mat-checkbox [checked]="false"></mat-checkbox>
                <b>Trust is checked.</b>
             </div>
            <input type="checkbox" *ngIf>
        </label></p>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="backClick()"  routerLink="/bugs">Back to list</button>
    </mat-card-actions>
</mat-card>
</div>