<table mat-table class="mat-elevation-z8" [dataSource]="this.dataSource">

    <!-- bug Title column-->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef scope="col"> Name </th>
      <td mat-cell *matCellDef="let bug">{{bug.title}}</td>
    </ng-container>
    <!-- bug Type column-->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef scope="col"> Type </th>
      <td mat-cell *matCellDef="let bug">{{bug.type}}</td>
    </ng-container>
    <!-- bug Description column-->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef scope="col"> Description </th>
      <td mat-cell *matCellDef="let bug">{{bug.description}}</td>
    </ng-container>

</table>

