<p>bug works!</p>
<div mat-table-container>
   <!-- <mat-table [dataSource]="this.bugTableDataSource">
     <ng-container matColumnDef="title">
       <th mat-header-cell *matHeaderCellDef scope="col"> Name </th>
     </ng-container>
     <ng-container matColumnDef="type">
       <th mat-header-cell *matHeaderCellDef scope="col"> Type </th>
     </ng-container>
     <ng-container matColumnDef="description">
       <th mat-header-cell *matHeaderCellDef scope="col"> Description </th>
     </ng-container>
   </mat-table>-->
 </div>
