
<div class="banner"><img src="assets/images/AnimalCrossingBanner.jpg"></div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell (click)="bugClick(bug.name)" *matCellDef="let bug">{{bug.name}} </td>
  </ng-container>

  <!-- Location Column -->
  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef> Location </th>
    <td mat-cell (click)="bugClick(bug.name)" *matCellDef="let bug"> {{bug.location}} </td>
  </ng-container>

    <!-- Time Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef> Time </th>
      <td mat-cell (click)="bugClick(bug.name)" *matCellDef="let bug"> {{bug.time}} </td>
    </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell (click)="bugClick(bug.name)" *matCellDef="let bug"> {{bug.price}} </td>
  </ng-container>

    <!-- North Month Column -->
    <ng-container matColumnDef="monthn">
      <th mat-header-cell *matHeaderCellDef>Time Of The Month - North </th>
      <td mat-cell (click)="bugClick(bug.name)" *matCellDef="let bug"> 
        {{bug.month.north}} 
    </ng-container>

    <!-- Month Column -->
    <ng-container matColumnDef="months">
      <th mat-header-cell *matHeaderCellDef> Time Of The Month - South  </th>
      <td mat-cell (click)="bugClick(bug.name)" *matCellDef="let bug"> 
        {{bug.month.south}}
      </td>
    </ng-container>

    <!-- Caught Column -->
    <ng-container matColumnDef="caught">
      <th mat-header-cell *matHeaderCellDef> Caught </th>
      <td mat-cell *matCellDef="let bug">
        {{bug.caught}}
        <input type="checkbox">
      </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<button routerLink="/bug">ClickTestForDetailsPage</button>