
<div class="banner"><img src="assets/images/AnimalCrossingBanner.jpg" alt="BugEDex Banner"></div>

<!-- Table to display the bugs -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell (click)="bugClick(bug.name)" *matCellDef="let bug">{{bug.name}} </td>
  </ng-container>

  <!-- Location Column -->
  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef> Location </th>
    <td mat-cell (click)="bugClick(bug.name)" *matCellDef="let bug"> {{bug.location}} </td>
  </ng-container>

    <!-- Time Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef> Time </th>
      <td mat-cell (click)="bugClick(bug.name)" *matCellDef="let bug"> {{bug.time}} </td>
    </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell (click)="bugClick(bug.name)" *matCellDef="let bug"> {{bug.price}} </td>
  </ng-container>

    <!-- North Month Column -->
    <ng-container matColumnDef="monthn">
      <th mat-header-cell *matHeaderCellDef>Time Of The Month - North </th>
      <td mat-cell (click)="bugClick(bug.name)" *matCellDef="let bug"> 
        {{bug.month.north}} 
    </ng-container>

    <!-- Month Column -->
    <ng-container matColumnDef="months">
      <th mat-header-cell *matHeaderCellDef> Time Of The Month - South  </th>
      <td mat-cell (click)="bugClick(bug.name)" *matCellDef="let bug"> 
        {{bug.month.south}}
      </td>
    </ng-container>

    <!-- Caught Column -->
    <ng-container matColumnDef="caught">
      <th mat-header-cell *matHeaderCellDef> Caught </th>
      <td mat-cell (click)="checkBugCaught(bug.name)" *matCellDef="let bug">
        Is It caught?: {{bug.caught}}
        <div *ngIf="bug.caught === true">
          <mat-checkbox [checked]="true"></mat-checkbox>
          <strong>True</strong>
       </div>   
       <div *ngIf="bug.caught === false">
        <mat-checkbox [checked]="false"></mat-checkbox>
          <strong>False</strong>
       </div>
      </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<p>
  <button routerLink="/bug">ClickTestForDetailsPage</button>
</p>
